# [submodule "dependencies/SDL2"]
#	path = dependencies/SDL2
#	url = https://github.com/libsdl-org/SDL
#	branch = SDL2

[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git

[submodule "dependencies/cmocka"]
	path = dependencies/cmocka
	url = https://gitlab.com/cmocka/cmocka
	branch = stable-2.0


[submodule "dependencies/util2"]
	path = dependencies/util2
	url = https://github.com/inonitz/util2

[submodule "dependencies/benchmark"]
	path = dependencies/benchmark
	url = https://github.com/google/benchmark
